<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Product Id="*" Name="STUDENTŲ DUOMENŲ ANALIZĖ" Version="3.0.0.0" Manufacturer="Naglis Bražėnas" Language="1033" UpgradeCode="a247ed27-3c4b-4799-9bae-e468255cf12a" Codepage="65001">
        <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

        <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
        <MediaTemplate />

        <Feature Id="ProductFeature" Title="STUDENTŲ DUOMENŲ ANALIZĖ" Level="1">
            <ComponentGroupRef Id="ProductComponents" />
        </Feature>

        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="ProgramFilesFolder">
                <Directory Id="INSTALLFOLDER" Name="Naglis_Brazenas_STUDENTU_DUOMENU_ANALIZE">
                    <Component Id="MainExecutable" Guid="68579cec-bb01-4df9-ab8f-9fefc98ad82a">
                        <File Id="ExecutableFile" Source="C:\Users\nagli\OneDrive\Desktop\v3.0\bin\Release\v3.exe" KeyPath="yes" Checksum="yes"/>
                        <Shortcut Id="startMenuShortcut"
                                  Directory="MyProgramMenuFolder"
                                  Name="STUDENTŲ DUOMENŲ ANALIZĖ"
                                  WorkingDirectory="INSTALLFOLDER"
                                  Icon="ExecutableIcon.ico"
                                  Advertise="yes"/>
                        <Shortcut Id="desktopShortcut"
                                  Directory="DesktopFolder"
                                  Name="STUDENTŲ DUOMENŲ ANALIZĖ"
                                  WorkingDirectory="INSTALLFOLDER"
                                  Icon="ExecutableIcon.ico"
                                  Advertise="yes"/>
                    </Component>
                </Directory>
            </Directory>
            <Directory Id="ProgramMenuFolder" Name="Programs">
                <Directory Id="MyProgramMenuFolder" Name="Naglis_Brazenas" />
            </Directory>
            <Directory Id="DesktopFolder" Name="Desktop" />
        </Directory>

        <Icon Id="ExecutableIcon.ico" SourceFile="C:\Users\nagli\OneDrive\Desktop\v3.0\logo.ico"/>
        <Property Id="ARPPRODUCTICON" Value="ExecutableIcon.ico" />

    </Product>

    <Fragment>
        <ComponentGroup Id="ProductComponents">
            <ComponentRef Id="MainExecutable" />
        </ComponentGroup>
    </Fragment>
</Wix>
